# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
.ipynb_checkpoints

# PyCharm
*.iml
*.ipr
*.iws
.idea/

# MyPy
.mypy_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Git
*.swp
*.swo
*~

# Node.js (if used)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Mac OS
.DS_Store

# System
Thumbs.db
Desktop.ini


# Node / JS / Git
package.json
package-lock.json
changelog-option.js
commitlint.config.js
.husky/
